.flat-btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  padding: 0.6rem 2rem;
  border: 1px solid var(--gold);
  background: var(--gold);
  color: var(--navy);
  font-size: 18px;
  font-weight: 500;
  box-shadow: var(--button-shadow);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: var(--navy-light);
    color: var(--ivory);
    box-shadow: var(--box-shadow);
    transform: translateY(-3px);
  }

  .flat-btn + .flat-btn {
    margin-top: 1rem;
  }
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .flat-btn {
    font-size: 12px;
    padding: 0.45rem;
    min-height: fit-content;
  }
}
