.flip {
  flex-direction: column;
}
.textbox-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 5rem 4rem 4rem;
  cursor: pointer;

  // ==========================================
  // ART DECO FRAME
  // ==========================================

  .frame {
    position: absolute;

    top: 2.5rem;
    left: 2.2rem;

    width: 560px;
    height: 500px;

    opacity: 0.8;

    z-index: 2;

    pointer-events: none;
  }

  // ==========================================
  // IMAGE
  // ==========================================

  .blur-img {
    position: relative;

    width: 500px;
    height: 420px;

    max-height: 500px;

    object-fit: cover;

    z-index: 1;
  }

  // ==========================================
  // TEXT
  // ==========================================

  .text-box {
    flex: 1;

    padding: 1rem 4rem;

    position: relative;

    z-index: 3;
  }

  // ==========================================
  // REVERSE
  // ==========================================

  &.reverse {
    flex-direction: row-reverse;
    background: var(--navy);
    h1.main, p {
      color: var(--ivory) !important;
    }
    
    .frame {
      width: 560px;
      height: 500px;
      top: 2.5rem;
      left: auto;
      right: 2.1rem;
    }
  }
}

// =================
// TABLET
// =================

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .textbox-container {
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem 2rem;
    gap: 4rem;
    .frame {
      position: absolute;

      top: 0rem;
      left: 7rem;

      width: 800px;
      height: 525px;

      opacity: 0.8;

      z-index: 2;

      pointer-events: none;
    }
    .blur-img {
      width: 700px;
    }
    &.reverse {
      flex-direction: row-reverse;

      .frame {
        width: 800px;
        height: 525px;
        top: 0rem;
        left: 7rem;
      }
    }
  }
}

// =============
// MOBILE
// =============

@media screen and (max-width: 768px) {
  .textbox-container {
    flex-direction: column;
    align-items: center;
    padding: 0rem 0rem 2rem;
    .frame {
      display: none;
    }
    .blur-img {
      width: 100%;
      padding: 0;
    }
    .text-box {
      flex: initial;
      padding: 1rem 2rem;
    }
    &.reverse {
      .frame {
        display: none;
      }
    }
  }
}
