.featured-container {
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
  background: var(--navy);
  margin: 4rem 0 0;
  cursor: pointer;
  .quarter {
    position: absolute;
    width: 300px;
    opacity: 0.6;
    z-index: 0;
  }

  .top-left {
    left: 0;
  }

  .top-right {
    transform: rotateY(180deg);
    right: 0;
  }

  .btm-left {
    transform: rotateX(180deg);
    margin-top: 9rem;
    left: 0;
  }

  .btm-right {
    transform: rotate(180deg);
    right: 0;
    margin-top: 9rem;
  }
  .feature-img {
    width: 500px;
    height: 250px;
    object-fit: cover;
  }
  .img-text-box {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem 0;
    .feature-text-box {
      width: 46%;
      h3 {
        color: var(--ivory);
      }
      p {
        color: var(--ivory);
      }
    }
  }
}

// ===============
//TABLET
// ===============
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .featured-container {
    padding: 1rem 3rem;
    margin: 2rem 0 0;

    .quarter {
      position: absolute;
      width: 250px;
    }

    .btm-left {
      margin-top: 13rem;
    }

    .btm-right {
      margin-top: 13rem;
    }

    .feature-img {
      width: 400px;
      align-self: center;
    }

    .img-text-box {
      padding: 3.5rem 0;

      .feature-text-box {
        width: 48%;
      }
    }
  }
}

// ==============
// MOBILE
// ==============

@media screen and (max-width: 768px) {
  .featured-container {
    padding: 0rem 2rem;
    margin: 1rem 0 0;

    .quarter {
      width: 200px;
    }

    .btm-left {
      margin-top: 22rem;
    }

    .btm-right {
      margin-top: 22rem;
    }

    .feature-img {
      width: 300px;
      height: 150px;
      align-self: center;
    }

    .img-text-box {
      display: flex;
      flex-direction: column;

      .feature-text-box {
        width: 100%;
      }
    }
  }
}
