.metrics-container {
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
  background: var(--navy);
  .quarter {
    position: absolute;
    width: 300px;
    opacity: 0.6;
    z-index: 0;
  }
  .top-left {
    left: 0;
  }
  .top-right {
    transform: rotateY(180deg);
    right: 0;
  }
  .btm-left {
    transform: rotateX(180deg);
    margin-top: 3.5rem;
    left: 0;
  }
  .btm-right {
    transform: rotate(180deg);
    right: 0;
    margin-top: 3.5rem;
  }
  .metric {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    margin: 3rem 4rem;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .metric-icon {
      width: 80px;
      color: var(--gold);
      font-size: 48px;
    }

    .metric-value {
      color: var(--ivory);
      font-weight: bold;
      margin: 16px;
    }

    .metric-label {
      margin: 0;
      color: var(--ivory);
    }
  }
}

//======================================================
// TABLET
//======================================================
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .metrics-container {
    flex-wrap: wrap;
    padding: 3rem 3rem;
    .metric {
      max-width: 200px;
      margin: 0rem;
      .metric-icon {
        width: 40px;
      }

      .metric-label {
        font-size: 14px;
      }
      .metric-value {
        font-size: 36px;
      }
    }
    .quarter {
      width: 250px;
    }

    .top-left {
      margin-top: -3rem;
      left: 0;
    }

    .top-right {
      transform: rotateY(180deg);
      right: 0;
      margin-top: -3rem;
    }

    .btm-left {
      transform: rotateX(180deg);
      margin-top: 1rem;
      left: 0;
    }

    .btm-right {
      transform: rotate(180deg);
      right: 0;
      margin-top: 1rem;
    }
  }
}
// ====================
// MOBILE
// ====================
@media screen and (max-width: 768px) {
  .metrics-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    .metric {
      max-width: 200px;
      margin: 0.5rem;
      .metric-icon {
        width: 28px;
      }

      .metric-label {
        font-size: 12px;
      }
      .metric-value {
        font-size: 26px;
      }
    }
    .quarter {
      width: 200px;
    }

    .top-left {
      margin-top: 0rem;
    }

    .top-right {
      margin-top: 0rem;
    }

    .btm-left {
      margin-top: 11rem;
    }

    .btm-right {
      margin-top: 11rem;
    }
  }
}
